{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Файл
          </div>
          <div class="card-body">
            <p class="card-text">
            Автор:
              {% if object.created_by %}
                  <a href="{% url 'accounts:detail' object.created_by.pk %}">{{ object.created_by }}</a>
              {% else %}
                  Анонимный
              {% endif %}
              <p>Описание : {{ object.description }} </p>
            </p>
              <p><a class="btn btn-success" href="/uploads/{{ file.file }}">Скачать</a></p>
            {% if request.user.is_authenticated or has_perms.file.change_file %}
              <p><a href="{% url 'file_update' file.pk %}" class="btn btn-primary">Редактировать</a></p>
          {% endif %}
              {% if request.user.is_authenticated or has_perms.file.delete_file %}
                  <p><a href="{% url 'file_delete' file.pk %}" class="btn btn-danger">Удалить</a></p>
              {% endif %}
            <p>Количество скачиваний : {{ object.downloaded }} </p>
          </div>
          <div class="card-footer text-muted">
              <p>Дата создания : {{ object.created_date }} </p>
          </div>
        </div>
   </div>
{% endblock %}