{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Файл
          </div>
          <div class="card-body">
            <p class="card-text">
            Автор:
              {% if object.created_by %}
                  <a href="{% url 'accounts:detail' object.created_by.pk %}">{{ object.created_by }}</a>
              {% else %}
                  Анонимный
              {% endif %}
              <p>Описание : {{ object.description }} </p>
            </p>
              <p><a class="btn btn-success" href="/uploads/{{ file.file }}" onclick="addDowndload({{ file.id }})">Скачать</a></p>
            {% if request.user.is_authenticated or has_perms.file.change_file %}
              <p><a href="{% url 'file_update' file.pk %}" class="btn btn-primary">Редактировать</a></p>
          {% endif %}
              {% if request.user.is_authenticated or has_perms.file.delete_file %}
                  <p><a href="{% url 'file_delete' file.pk %}" class="btn btn-danger">Удалить</a></p>
              {% endif %}
            <p>Количество скачиваний : {{ object.downloaded }} </p>
          {% if request.user == object.created_by %}
              <table class="table table-success">
              <thead>
                <tr>
                  <th scope="col">Пользователь</th>
                  <th scope="col">Действие</th>
                    <th scope="col" style="width: 20%">Сообщение</th>
                </tr>
              </thead>
              <tbody id="table_{{ object.pk }}">
                <tr>
                  <td><input type="text" id="user_name_{{ object.pk }}" class="form-control"></td>
                  <td><button class="btn btn-primary" onclick="addToPrivate(event, {{ object.pk }})">Добавить </button></td>
                  <td id="answer"></td>
                </tr>
              </tbody>
              {% for i in file.file_private.all %}
                  <tbody>
                    <tr id="private_user_{{ i.user.pk }}">
                      <td><a href="{% url 'accounts:detail' i.user.pk %}">{{ i.user }}</a> </td>
                      <td><button class="btn btn-danger" onclick="deletePrivateUser(event, {{ i.file.id }}, {{ i.user.pk }})">Удалить</button></td>
                      <td></td>
                    </tr>
                  </tbody>
              {% endfor %}
            </table>
          {% endif %}
          </div>
          <div class="card-footer text-muted">
              <p>Дата создания : {{ object.created_date }} </p>
          </div>
        </div>
   </div>
{% endblock %}