{% extends 'base.html' %}
{% block content %}
    <h1 class="bg-info text-white text-center">Объявления:</h1>
    {% csrf_token %}
    {% include 'partial/simple_search.html' %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="card-deck text-center">
        <div class="row">
                {% for file in object_list %}
                    <div class="col-sm-12">
                        <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Автор:
                              {% if file.created_by %}
                                  <a href="{% url 'accounts:detail' file.created_by.pk %}">{{ file.created_by }}</a>
                              {% else %}
                                  Анонимный
                              {% endif %}
                          </h5>
                            <p class="card-text mt-auto">Описание: {{ file.description }}</p>
                            <p class="card-text mt-auto">Количество скачиваний: {{ file.downloaded }}</p>
                            <p><a class="btn btn-success" href="/uploads/{{ file.file }}" onclick="addDowndload({{ file.id }})">Скачать</a></p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">
                          <br>
                              <a href="{% url 'file_detail' file.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-info"></span></a>
                              {% if request.user.is_authenticated or has_perms.file.delete_file %}
                                  <a href="{% url 'file_delete' file.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-trash"></span></a>
                              {% endif %}
                          </small>
                        </div>
                      </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
